:root {
  --theme-background: #000000;
  --theme-text: #ffffff;
  --theme-darkblue: #223659;
  --theme-lightblue: #9bb3d9;
}

@font-face {
  src: url("./medias/Aileron-Regular.otf") format("opentype");
  font-family: "aileron-regular";
}
@font-face {
  src: url("./medias/Aileron-Heavy.otf") format("opentype");
  font-family: "aileron-semibold";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 40px 20px;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 48px;
  font-size: clamp(1.2em, 2.4vw, 2.5em);
  font-family: "aileron-semibold", Arial, sans-serif;
}

a {
  color: var(--theme-lightblue);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 24px auto;
  text-align: center;
  font-size: clamp(1em, 2vw, 1.5em);
  font-family: "aileron-regular", Arial, sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
  margin: 20px;
  justify-content: center;
  max-width: 100%;
}
.entree {
  font-size: clamp(1.7em, 0.9em, 2.2em);
  color: var(--theme-lightblue);
  font-family: "aileron-semibold", Arial, sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}
.logo-exposition {
  display: block;
  margin: 30px auto 0 auto;
  width: clamp(100px, 50%, 300px);
}
.project-card {
  text-decoration: none;
  color: var(--theme-text);
  border: 2px solid var(--theme-darkblue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: none;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card p {
  background-color: var(--theme-lightblue);
  color: var(--theme-darkblue);
  text-align: center;
  font-family: "aileron-semibold", Arial, sans-serif;

  font-size: 1.1em;
  font-weight: bold;
  padding: 15px;
  margin: 0;
}

footer {
  text-align: center;
  padding: 40px 20px;
  margin-top: 60px;
  border-top: 1px solid var(--theme-darkblue);
  font-size: clamp(1.2em, 0.9em, 1.6em);
  color: var(--theme-text);
  font-family: "aileron-regular";
}

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--theme-lightblue);
  z-index: -1;
}

.logo {
  display: block;
  margin: 50px auto 50px auto;
  width: clamp(200px, 50%, 650px);
}

.description {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  font-size: clamp(1em, 2vw, 1.8em);
  font-family: "aileron-regular", Arial, sans-serif;
}
.texte-special {
  font-weight: bold;
  color: var(--theme-lightblue);
  letter-spacing: 0.08rem;
}

@media (max-width: 1150px) {
  .projects-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 650px) {
  .projects-grid {
    grid-template-columns: 280px;
    gap: 15px;
    justify-content: center;
  }

  .project-card {
    width: 280px;
  }

  .project-card img {
    height: 150px;
  }
}
